.navbar {
  background-color: #2874F0;
}
.navbar section{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}
.primary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo {
  width: 90px;
  height: 66px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #00000033;
  border-radius: 8px;
  padding: 4px 8px;
  width: fit-content;
  height: 40px;
  background-color: white;
  transition: all 0.3s ease;
}

.search-icon {
  margin-right: 8px;
  font-size: 18px;
  color: white;
  display: none;
  align-items: center;
}

.search-bar {
  border: none;
  outline: none;
  width: 470px;
  font-size: 16px;
  transition: width 0.3s ease;
}
.secondary-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  color: white;
}
.link-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-icon {
  font-size: 12px;
  color: white;
}

.link-icon {
  display: none;
  font-size: 18px;
  color: white;
}

.link-text {
  display: inline;
}

@media (max-width: 1024px) {
  .navbar section{
    display: flex;
    justify-content: space-between;
  }
  .primary-container{
    width: 100px;
  }
  .search-bar {
    width: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
  }
  .search-container {
    background-color: transparent; 
    border: none;
    padding: 0;
    width: 100px;
  }
  .search-container.show-on-mobile {
    background-color: white;
    border: 1px solid #00000033;
    padding: 4px 8px;
    width: 100px;
  }
  .navbar section {
    gap: 5px;
  }

  .dropdown-icon {
    display: none;
  }

  .primary-container {
    justify-content: space-between;
  }

  .search-bar {
    width: 200px;
  }

  .secondary-container {
    width: 100%;
    justify-content: center;
  }

  .link-text {
    display: none;
  }

  .link-icon {
    display: inline;
  }
  .search-icon{
    display: flex;
  }
}
